body{
    margin: 0;
    padding: 0;
    font-family: fantasy;
    box-sizing: border-box;
}
.uppernavbar{
    font-size: 35px;
    text-align: center;
    background-color: red;
    padding: 5px;
    width: 100%;
    text-shadow: 5px 5px 5px;
    cursor: pointer;
}
.lowernavbar{
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    width: 100%;
}
.lowernavbar ul{
    list-style: none;
}
.lowernavbar ul li{
    float: left;
    background-color: aqua;
    width: 170px;
    text-align: center;
    border: 1px solid #262626;
    font-size: 20px;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.lowernavbar ul li a{
    text-decoration: none;
    color: chocolate;
}
.lowernavbar ul li:hover{
    background-color: blue;
    transition: all ease-in 0.5s;
}
footer{
      position: absolute;
      bottom: 0;
      text-align: center;
      background-color: cornflowerblue;
      width: 100%;
      height:240px;
}
.logo2{
    font-size: 50px;
    padding: 5px;
}
.ptag{
    position: relative;
    top: -20px;
    font-size: 16px;
}
.icon{
    position: relative;
    top: -30px;
    font-size: 45px;
    padding: 10px;
}
.p2tag{
      font-size: 20px;
      position: relative;
      top: -50px;
      text-align: center;
}

.form1{
     text-align: center;
     width: fit-content;
     height: fit-content;
     margin:0 auto;
     background-color: crimson;
     font-size: 30px;
     padding: 20px 80px;
     color:white;
     margin-top: 10px;
     border-radius: 5%;
     outline: none;
}